/* GERAL */
*{
    margin: 0;
    padding: 0;
    font-size: 100%;
    border: none;
    outline: none;
    font-family: 'Staatliches', cursive;
    text-decoration: none;
    list-style: none;
}

body{
    background: #333;
}

img{
    max-width: 100%;
    display: block;
}

/* CABEÇALHO PADRÃO MOBILE */
header{
    width: 100%;
    padding: 3% 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.caixa-logo{
    width: 200px;
    height: 50px;
    background: url(../img/logo.png);
    background-size: cover;
    margin-left: 50px;
}

.container-menu{
    margin-right: 50px;
}

.btn-menu{ 
    width: 50px;
    height: 50px;
    background: #333;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
}

.nav-mobile{
    position: fixed;
    background: #333;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    display: none;
    z-index: 1;
    
}

.menu-lista-mobile{
    width: 100%;
}

.menu-item a{
    display: block;
    padding: 5%;
    text-align: center;
    color: #fff;
}

.fechar-menu{
    text-align: center;
    padding: 5%;
    cursor: pointer;
    background: whitesmoke;

}

.menu-item a:hover{
    background: rgba(0, 0, 10, 0.5);
    border-left: 1px solid #fff;
    color: tomato;
}

.btn-back{
    background: transparent;
}

/* CABEÇALHO DESKTOP */
.menu-lista-desk{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.menu-lista-desk .menu-item-desk > a{
    display: block;
    padding: 5%;
    margin: 0 20px;
    font-size: 1.2em;
    color: #fff;
    font-family: 'lato', 'sans-serif';
}

.menu-item-desk > a:hover{
    transform: scale(1.1);
    border-left: 1px solid orangered;
}



/* Icone usado no btn-back */
.fa-angle-double-right{
    padding: 10px;
    background: transparent;
    transform: scale(1);
    transition: all 1s;

}

.fa-angle-double-right:hover{
    cursor: pointer;
    color: tomato;
    transform: scale(1.5);
    
}

/* BANNER */
.banner{
    width: 100%;
    padding: 3% 0;
    background: url(../img/bg.jpg) no-repeat;
    background-position: center center;
    background-attachment: fixed; 
    text-align: center;
}

.banner h2{
    color: #fff;
    font-size: 2.5em;
    font-weight: 500;
}

.banner h3{
    color: #fff;
    font-size: 1em;
    font-weight: lighter;
    font-family: 'lato', 'sans-serif';
}

.banner-buttons{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3%;

}

.btn-cadastrar{
    width: 40%;
    text-align: left;
    padding: 2% 3%;
    margin-bottom: 2%;
    border-radius: 10px 10px 10px 10px;
    cursor: pointer;
    transform: scale(1);
    transition: all 1s;
    font-size: 1em;
}

.btn-cadastrar:hover{
    transform: scale(1.2);
}

.btn-cadastrar:hover .fa-user-check{
    transition: all 0.5s;
    color: green;
}

/* icone do btn-cadastrar */
.fa-user-check{
    float: right;
}

.btn-sobre{
    width: 40%;
    text-align: left;
    padding: 2% 3%;
    margin-bottom: 2%;
    border-radius: 10px 10px 10px 10px;
    background: orangered;
    color: #fff;
    cursor: pointer;
    transform: scale(1);
    transition: all 1s;
    font-size: 1em;
}

.btn-sobre:hover{
    transform: scale(1.2)
}

.fa-question-circle{
    float: right;
}

/* ARTICLE */

.servicos{
    width: 90%;
    margin: 0 auto;
    margin-top: 2%;
}

.servico{
    width: 100%;
    background: #fff;
    text-align: left;
    margin-bottom: 2%;
}

.servico img{
    margin-bottom: 2%;
}

.texto-interno{
    padding: 2%;
    
}

.texto-interno h4{
    margin-top: 1%;
}

.texto-interno p{
    font-family: 'lato', 'sans-serif';
    margin-top: 1%;
}


/* FOOTER */

footer{
    width: 100%;
    background: rgb(204,123,16);
    background: linear-gradient(90deg, rgba(204,123,16,1) 0%, rgba(255,138,21,1) 13%, rgba(212,78,25,1) 52%, rgba(255,138,21,1) 84%, rgba(238,43,0,1) 99%);
    text-align: center;
    margin-top: 3%;
    color: #fff;
    padding-bottom: 2%;
}

footer h5{
    font-family: 'lato', 'sans-serif';
}

.fa-twitter-square, .fa-facebook-square, .fa-instagram-square{
    margin-top: 2%;
    margin-bottom: 2%;
    width: 5%;
    font-size: 1.5em;
    color: #fff;
    cursor: pointer;
    opacity: 0.7;
}

.fa-twitter-square:hover, .fa-facebook-square:hover, .fa-instagram-square:hover{
    opacity: 1;
}


/* RESPONSIVIDADE */
@media (max-width: 576px) {
        .menu-lista-desk{
            display: none;
        }
    }
    
@media (min-width: 576px) and (max-width: 768px) {
    .menu-lista-desk{
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .menu-lista-desk{
        display: none;
    }
}

/* Dispositivos maiores */
@media (min-width: 992px) and (max-width: 1280px) {
    .menu-lista-mobile, .nav-mobile, .btn-menu{
        display: none;
    }
    .banner{
        display: flex;
        justify-content: space-around;
        align-items: center;
        transition:all 2s;
    }

    .title{
        padding-left: 10%;
    }

    .title h2{
        font-size: 3.5em;
        text-align: left;
    }

    .title h3{
        font-size: 2em;
        text-align: left;
    }

    .servico{
        display: flex;
    }
    
}
/* LARGE DEVICES - WIDE SCREENS*/
@media (min-width: 1280px) {
    .menu-lista-mobile, .nav-mobile, .btn-menu{
        display: none;
    }

    .banner{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .btn-cadastrar, .btn-sobre{
        font-size: 2em;
    }

    .title{
        padding-left: 10%;
    }

    .title h2{
        font-size: 3.5em;
        text-align: left;
    }

    .title h3{
        font-size: 2em;
        text-align: left;
    }

    .servico{
        display: flex;
    }


    

}
    
    
    
    
