//Pré-processadores, como este, permitem que o CSS seja programável
//Utilizando um compilador automatico, o código é convertido em tempo real para CSS


$color: black;
$color-font: white;

h1{
    color: $color;
}

a{
    color: $color-font;
    &:hover{ //& é como "this"
        color: $color;
    }
}

//Escopo de variável
$cor-teste: red;
#elemento1{
    $cor-teste: green;
    background: #{$cor-teste}; //O elemento seria verde, e não vermelho
}

#elemento2{
    background: $cor-teste; //O elemento seria vermelho
}

//Mais uso de variáveis
$largura: width; //Variável recebe uma atributo

#elemento3{
    #{$largura}: 200px; //Para usa-la, escreve-se #{$variavel}
}

$altura: height;

#elemento4{
    #{$altura}: 300px;
}

//For, while, each, funções e importações
@for $cont from 1 through 3{
    .item-#{cont}{
        background: blue;
    }
}

@while $contador < 5{
    //Comandos
    $contador++;
}

$vetor: green, red, blue, yellow, white;
$cont: 1;
@each $cor in $vetor{
    .item-#{$cont}{
        background: $cor;
    }
    $cont++;
}


@function funcao($param1, $param2){
    @return $param1/$param2;
}
$retorno: funcao(10, 12);


//Há também herança, e outras funcionalidades