ul{ 
    list-style: none;
    margin: 0;
    padding: 0;
    
}
.menu-nav ul li{
    background-color: orange;
    text-decoration: none;
    float: left;
    width: 200px;
    height: 40px;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    font-size: 25px;
    position: relative; /* ancestral de referência do submenu com position absolute*/
   
}
.menu-ul li:hover{
    background-color: orangered;
}
.menu-ul ul{ /* a lista dentro da lista*/
    display: none; /*Retira o elemento ul descendente do menu-ul do layout da página*/
}
.menu-ul li:hover > ul{ /*Quando o usuário interagir com o elemento parent do elemento ul (li > ul, significa que ul é child de li) */
    display: block; /*Tal elemento ul, antes retirado, com display none, retorna para o layout, com config block*/

}
.menu-ul a{
    text-decoration: none;
}
.menu-ul ul ul{
    margin-left: 202px;
    top: 0px;
    position: absolute;
    /* Um elemento com position: absolute; é posicionado em relação ao ancestral posicionado mais próximo*/
    /*Contudo; se um elemento posicionado de forma absoluta não tiver ancestrais posicionados, ele usa o body do documento*/
    /* POR ISSO, definimos seu ancestral com position relative, para que ele não use o body como referência, e atropele todo o fluxo do documento*/
}
