/* MOBILE FIRST*/

/* ESTILO SCROLLBAR******/
::-webkit-scrollbar {
    width: 8px;
    }
    
    ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
    }
    
    ::-webkit-scrollbar-thumb {
    background:rgba(255, 255, 255, 0.8); 
    border-radius: 10px;
    }
    
    ::-webkit-scrollbar-thumb:hover {
    background:rgb(54, 56, 58); 
    }

/*HEADER****************************************/
header{
    width: 100%;
    height: 900px;
    background: url(../img/back_teste.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    box-shadow: inset -2px -40px 37px 8px rgba(0,0,0,0.75);
}

.header_filter{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.header_title{
    width: 100%;
    text-align: center;
    padding-bottom: 50px;
}

.header_subtittle{
    visibility: hidden;
}

.logo_img{
    max-width: 650px;
}

/*MAIN***********************************************/
main{
    width: 100%;
}

section{
    margin: 110px auto;
    width: 70%;
}

.section_title{
    text-align: center;
    font-size: 2em;
}

/*SECTION 1* - COMIC*/
.section_trailer{
    width: 90%;
}

.cp_container{
    width: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
    grid-gap: 15px;
}

.cp_text{
    height: 100%;
}

#text-sinopse{
    text-align: center; 
    font-style: italic;
}

.cp_image{
    height: auto;
}

.icon_link img{
    width: 100px;
}

/*SECTION 2 - TRAILER*/
.cp_buttons{
    display: grid;
    grid-template-rows: auto auto;
}

.cpb_div{
    display: flex;
    justify-content: center;
}

.cpm_button_1{
    justify-self: end;
    align-self: center;
    margin-right: 15px;
}

.cpm_button_2{
    justify-self: start;
    align-self: center;
    margin-left: 15px;
}

.icon_link img{
    width: 100px;
}

/*SECTION 3 - SLIDESHOW*/

/*SECTION 4 - AUTORA*/
.section_author{
    display: grid;
    grid-template-rows: 100px 1fr;
}

.sa_content{
    display: grid;
    grid-template-rows: 250px 1fr;
    grid-gap: 15px;
}

.sa_author-photo{
    display: flex;
    justify-content: center;
}

.author_photo{
    border-radius: 100%;
}

.sa_author-text{
    text-align: center;
}

/*SECTION 4 - APOIE*/
.sd_text{
    text-align: center;
}

.apoiase_btn{
    margin-right: 5px;
}

.paypal_btn{
    margin-left: 5px;
}

.sd_social-media{
    text-align: center;
}

.sd_social-media i{
    font-size: 1.5em;
    margin: 5px;
}

/* FOOTER*******************************************/
footer{
    width: 100%;
    height: 50px;
    text-align: center;
}