*{
    outline: none;
    border: none;
    margin: 0;
    padding: 0;
}

body{
    background: black;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

i{
    color: #fff;
}

ul, ol, a{
    text-decoration: none;
    list-style: none;
}