.page_content{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
}

.card{
    padding: 1rem;
    width: auto;

    border: 1px solid #333;
}

.data_list li{
    padding: 0.5rem;
    font-size: 1.5rem;
}

.data_list li:nth-child(1){
    border: 1px solid #333;
}