.nav-aside li:first-child{
    height: 50px;
    background-color: #00B4A0;
  }
  
  .aside-content{
    display: none;
  }
  
  .nav-aside li{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }