/* RESET */
header{
    padding: 10px;
    background: #333;
    box-shadow: -1px 4px 15px 0px rgba(0,0,0,0.75);
    color: #fff;
}

main{
    display: flex;
    justify-content: center;
}

.flex_container-f1{
    width: 600px;
    height: 350px;
    box-shadow: 1px -1px 38px -5px rgba(0,6,190,1);
    border-radius: 5px;
    display: flex;
    margin: 150px 10px 0px 10px;
}

.flex_item-side{
    flex-grow: 1;
}

.leftside-f1{
    background: url(../img/Login-image.png) no-repeat center center;
}

.flex_rightside-f1{
    background: #005BEA;
    border-radius: 0px 5px 5px 0px;
    display: grid;
    grid-template-rows: 50px 1fr;
    grid-gap: 20px;
}

.form_tittle{
    color: #fff;
    padding: 15px 0px 0px 50px;
}

form{
    text-align: center;
    padding-top: 30px;
}

#name_input, #password_input{
    padding: 10px;
    margin-top: 10px;
    width: 250px;
    border-radius: 10px;
}

#password_input{
    margin-bottom: 5px;
}

.btn_form{
    border-radius: 30px;
    padding: 10px;
    margin-top: 50px;
}

.btn_signin{
    width: 100px;
    color: #fff;
    margin-right: 10px;
    border: 1px solid #fff;
    background: transparent;
}

.btn_signin:hover{
    background: rgba(255, 255, 255, 0.1);
}

.login_erro{
    color: #fff;
    font-weight: bolder;
}

/**********************************************/

@media (max-width:550px){

    .leftside-f1{
        display: none;
    }
}
