.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 1rem 5rem;
    min-width: 250px;
    background: #F6F6F6;
    z-index: 2;
    box-shadow: 1px 1px 5px -1px rgba(0,0,0,0.75);

    border-radius: 0.5rem;
}

.modal_header, .modal_body, .modal_button{
    text-align: center;
    font-family: sans-serif;
}

.tittle_message{
    font-weight: bold;
    font-size: 1.8rem;
}

p{
    margin: 0.5rem 0px;
}