@media (max-width: 499px){

}

@media (min-width: 500px) and (max-width: 749px){
    
}

@media (min-width: 750px) and (max-width: 989px){
    .servico{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .texto-interno{
        display: grid;
        grid-template-rows: 20px 20px 100px;
        grid-gap: 20px;
        padding: 1%;
    }

    .form-cadastro{
        display: flex;
        flex-direction: row;
    }

    .form-cadastro input{
        width: 75%;
    }

    .form-cadastro button{
        margin: 0 0 0 2%;
        width: 15%;
    }

}

@media (min-width: 990px) and (max-width: 1399px){
    .servico{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .texto-interno{
        display: grid;
        grid-template-rows: 20px 20px 100px;
        grid-gap: 20px;
        padding: 1%;
    }

    .form-cadastro{
        display: flex;
        flex-direction: row;
    }

    .form-cadastro input{
        width: 75%;
    }

    .form-cadastro button{
        margin: 0 0 0 2%;
        width: 15%;
    }

}

@media (min-width: 1400px){
    .servico{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .texto-interno{
        display: grid;
        grid-template-rows: 20px 20px 100px;
        grid-gap: 20px;
        padding: 1%;
    }

    .form-cadastro{
        display: flex;
        flex-direction: row;
    }

    .form-cadastro input{
        width: 75%;
    }

    .form-cadastro button{
        margin: 0 0 0 2%;
        width: 15%;
    }

    .cabecalho-mobile{
        display: none;
    }

    .cabecalho-desk{
        display: flex;
    }
}
