.App{
    background-color: #222;
    display: grid;
    grid-template-rows: 50px 5fr 50px;
    grid-template-columns: 70px 1fr;
    width: 95vw;
    height: 95vh;

    margin: 20px auto;
  }
  
  header{
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: #142934;
  
    color: #fff;
  }
  
  aside{
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: #142934;
  
    color: #fff;
  }

  main{
    position: relative;
  }
  
  .main_desktop{
    background-color: whitesmoke;
    padding: 5px;
  
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr 208px;
  
  }

  .main_mobile{
    background-color: whitesmoke;
    padding: 5px;
  
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
  }
  
  footer{
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: #142934;
  
    color: #fff;
  }
  

  
  
  

  


  
  
  
  
  
  
  