body{
    margin: 0
}
#HeaderMain{
    width: 100%;
    background-color: transparent;
    height: 100px;
    box-shadow: 5px 7px 3px lightgray;
    box-shadow: 2px 7px 5px 0px rgba(0,0,0,0.75);
}
#ContainerHeader{
    margin: auto;
    height: 100%;
    width: 80%;
    background-color: transparent;
}
#LogoLC{
    float: left; 
    height: 90%;
    padding-left: 3%;
}
#Titulo{
    text-align: center;
    color: 	#1E90FF;
    font-family: 'roboto';
    font-size: 180%;
    margin: auto;
    padding-right: 15%;
    padding-top: 3%;
   
}
aside{
    margin: auto;
    background-color: transparent;
    width: 100%;
    min-height: 650px;
    overflow: hidden;
	
}
#TituloMain{
    height: 4.5%;
    width: 44%;
    background-color: transparent;
    font-size: 20px;
    border: solid;
    border-left-width: 5px;
    border-left-color: 	#1E90FF;
    border-bottom-width: 1.5px;
    border-bottom-color: #1E90FF;
    border-right-color: white;
    border-top-color: white;

}
#TituloMain text{
    padding: 2px;
    padding-left: 4px;
    color:#1E90FF;
    font-family: 'roboto';
}
#ContainerConteúdo{
    width: 80%;
    background-color:white;
    text-align: justify;
    background-color: transparent;
    margin: auto;
    margin-top: 2%;
    font-family: 'roboto';

}
main{
    width: 65%;
    margin: auto;
    background-color: white;
}
#Imagemhtml{
    display: block;
    margin: auto;
    border-radius:3px;
    
}
#MenuLateral{

    width: 16%;
    background-color:white;
    list-style: none;
    padding-left:0;
    text-align: left;
    display: block;
    position: relative;
    float: left;

}
a{
    text-decoration: none;
    color: #1E90FF;
    font-family: 'roboto';

}
li{

    color: #1E90FF;
    height: 30px;
    padding: 1.5px;
    font-family: 'roboto';
    display: block;
}
li:hover{
    background-color: #1E90FF;
    cursor: pointer;
    color: black;

}
li:hover a {
    background-color: #1E90FF;
    cursor: pointer;
    color: black;
}
#Rodapé{
    background-color:transparent;
    border-top-width: 3px;
    height: 10px;
    width: 100%;
    box-shadow: 2px -7px 5px 0px rgba(0,0,0,0.75);

}
#LogoIfsul{
    float: left;
    padding-left: 3%;
    padding-top:0.5%;
}
#TextoRodapé{
    float: right;
    font-family: 'roboto';
    color: black;
    left: 38%;
    text-align: right;
    font-size: 15px;
    padding-right: 3%;
}

/*-----------------------------------------------------------------------------*/
/*ACIMA PÁGINA INICIAL*/
/**ABAIXO OUTRAS PÁGINAS */
/*-----------------------------------------------------------------------------*/

Table{
    border:1px solid black;
    border-collapse: collapse;
    width: 100%;
    height: 50%;
    background-color: whitesmoke;
    /*box-shadow: 1px 1px 4px black;*/

}
th, td{
    border:1px solid black;
    border-collapse: collapse;
    background-color: whitesmoke;
    text-align: center;
    padding-top: 1%;

}
.Dia{
    background-color:#1E90FF;
}
input, textarea{
    background-color: whitesmoke;
    color: black;
    border-radius: 2px;
}
form{
    font-family: 'roboto';
    font-size: 15px;
}
textarea{
    width: 350px;
}
#BotãoEnviar{
    border-radius: 4px;
    font-family: 'roboto';
}

#BotãoEnviar:hover{
    cursor: pointer;
    background-color:lightgray;

}


