@media (max-width: 700px){
    #grid-container{
        width: 100%;
        height: 100%;
        background: #333;
        display: grid;
        grid-template-columns: 1fr 3fr;

    }

}

@media (max-width: 550px){
    #grid-container{
        width: 100%;
        height: 100%;
        background: #333;
        display: grid;
        grid-template-columns: 1fr;

    }

    .menu_colesquerda{
        display: none;
    }

    .div-menu_icon{
        display: block;
    }
}