*{
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'Oswald', sans-serif;
    outline: none;
}

ul, ol, li, a{
    text-decoration: none;
    list-style: none;
}

body{
    display: flex;
    flex-direction: column;
}


/************ CABEÇALHO ************************/

header{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #1E212B;
    box-shadow: 0px 3px 5px 2px rgba(0,0,0,0.75);
}

.logo-item{
    color: white;
}

.list-nav{
    display: flex;
}

.list-item a{
    display: block;
    color: white;
    margin-right: 20px;
}

.list-item a:hover{
    color: tomato;
}

/************ TRONCO DA PÁGINA GERAL ************************/

main{
    width: 100%;
}

.flex-container{
    width: 90%;
    padding: 5px;
    margin: 50px auto;
    display: flex;
}

/*Contém o título e texto sobre a funcionalidade*/
.fc-presentation{
    border-left: 2px solid tomato;
    padding-left: 5px;
    margin-right: 2px;
    width: 50%;
}

/* Contém o exemplo prático do que foi introduzido pelo texto*/
.fc-content{
    flex-grow: 1; /* Isto define que o item irá ocupar o espaço disponível */
    border: 8px solid #333;
    padding: 5px;
    display: flex;
    box-shadow: inset 0px 0px 5px 2px rgba(0,0,0,0.75);
}

.flex-item{
    background: tomato;
    text-align: center;
    margin: 1px;
}

input[type=text]{
    border: 2px solid #1E212B;
    border-radius: 5px;
    margin-top: 10px;
}

input[type=submit]{
    padding: 2px;
    cursor: pointer;
    background: rgba(255, 99, 71, 0.8);
    border: 1px solid #333;
}

/************ NAV PARA MUDAR DE PÁGINA  ************************/

.nav-page{
    width: 100%;
    background:#1E212B;
    padding: 5px 0px 5px 0px;
    display: flex;
    justify-content: center;
}

.np-one a:hover{
    transform: scale(1.1);
    color: white;
}





