*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
}

/* Corpo base da página */
#grid-container{
    width: 100%;
    height: 100%;
    background: #333;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

main{
    background-color:#fff;
    box-shadow: inset 1px 2px 14px -5px rgba(0,0,0,0.75);
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.coluna{
    background-color: #8390fa;
}

/* Menu da coluna esquerda*/
.colesquerda{
    display: flex;
    justify-content: flex-end;
}

.menu_colesquerda{
    width: 170px;
    height: 600px;
    margin-right: 5px;
    margin-top: 5px;
    background: #333;
    padding: 5px;
    top: 10px;
    left: 300px;
    display: grid;
    grid-template-rows: 1fr 5fr 1fr;
    border-radius: 18px 0px 0px 18px;
    position: sticky;
    z-index: 2;
    
}

.h2-icon{
    text-align: center;
    font-size: 3em;
    color: white;
    transition: all 1s;
}

.h2-icon:hover{
    transform: rotate(360deg);
}

.colesquerda_ul{
    width: 100%;
}

.list-item a{
    display: block;
    padding: 10px 0;
    margin: 5px 0;
    border-radius: 20px;
    padding-left: 5px;
    color: #fff;
}

.li-colesquerda a:hover{
    background-color: rgba(255,255,255, 0.1);
}

.btn-publicar{
    width: 80%;
    height: 50%;
    font-size: 1.2em;
    color: black;
    margin: auto;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: #fff;
    cursor: pointer;
}

.container_publicacao{
    position: absolute;
    bottom: 0px;
    left: 180px;
    width: 500px;
    height: 40%;
    background: #333;
    border-radius: 0px 10px 10px 0px;
    border-left: 1px solid #8390fa;
    display: grid;
    grid-template-rows: 1fr 5fr 1fr;
    
}

.container_publicacao-cabecalho{
    color: white;
    font-size: 1.2em;
    padding-left: 5px;
    border-bottom: 1px solid  #8390fa; 
}

.container_publicacao-cabecalho i{
    cursor: pointer;
}

.area-meio{
    display: grid;
    grid-template-columns: 1fr 7fr;
}

.publicacao-widgets{
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 1fr;
    justify-items: end;
    color: white;
    
}

.publicacao-widgets i{
    font-size: 1.2em;
}

.publicacao-widgets button{
    width: 80px;
    border-radius: 10px;
    outline: none;
    border: none;
    margin-right: 10px;
    margin-bottom: 10px;
}

.foto-usuario_publicacao{
    width: 50px;
    height: 50px;
    background: url(/img/usuario.png) no-repeat center center;
    background-size: cover;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 10px;
}

textarea{
    width: 60%;
    height: 60%;
}

/*MEIO DA PÁGINA---------------------------------------------------------------------------------------------------------------*/
/*Primeira Metade - Do usuário*/
.perfil-usuario{
    background-color:#8390fa;
    display: grid;
    grid-template-rows: 1fr 5fr 4fr 1fr ;
    grid-gap: 5px;
}

.caixa-superior{
    background-color: #333;
    display: grid;
    grid-template-columns: 1fr 9fr;
    color: white;
}

.caixa-superior_dados{
    display: grid;
    margin-left: 5%;
}

.div-menu_icon{
    font-size: 2.0em;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    display: none;
    margin-left: 5px;
}

.perfil-banner{
    background: url(img/wallpaper.jpg) no-repeat center center;
    box-shadow: inset 1px 6px 21px -8px rgba(0,0,0,0.75);
    display: flex;
    align-items: flex-end;
}

.div-foto_usuario{
    width: 100px;
    height: 100px;
    background: url(img/usuario.png) no-repeat center center;
    background-size: cover;
    border-radius: 50%;
    z-index: 1;
    margin-bottom: -40px;
    margin-left: 20px;
    border: 5px solid #fff;
}

.container-perfil-dados{
    background-color: #fff;
    display: grid;
    grid-template-rows: 1fr 5fr;
}

.caixa-botao-editar{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.btn-editar{
    width: 100px;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 10px;
    border: 2px solid #8390fa;
    color: black;
    font-size: 1em;
    outline: none;
    background-color: #fff;
    cursor: pointer;
}

.btn-editar:hover{
    background: rgba(131, 144, 250, 0.3);
}

.usuario-informacoes{
    padding: 10px;
}

.menu-perfil_ul{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #333;
}

.menu-perfil_ul li{
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80%;
    margin: 0 2px;
    background:  #8390fa;
    margin-bottom: -8px;
    transition: all 1s;
}

/*MEIO DA PÁGINA-----------------------------------------------------------------------------------------------------------------------------------*/
/*Segunda metade - Publicações, conteúdo, etc*/
.container-conteudo{
    border-right: 2px solid #333;
    border-left: 2px solid #333; 
    display: grid;
    grid-template-rows: repeat(1fr,3);
    grid-gap: 10px;
}

.publicacao{
    display: grid;
    grid-template-columns: 1fr 4fr;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.perfil-publicacao{
    border-radius: 50%;
    display: grid;
    grid-template-rows: repeat(2,1fr);   
}

.usuario-publicacao{
    background-size: cover;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    cursor: pointer;
}

.up1{
    background: url(img/perfil2.jpg) no-repeat center center/130px;
    justify-self: center;
    align-self: center;
    box-shadow: 0px 0px 0px 3px #8390fa;
}

.up2{
    background: url(img/perfil1.jpeg) no-repeat center center/150px;
    justify-self: center;
    align-self: center;
    box-shadow: 0px 0px 0px 3px #8390fa;
}

.up3{
    background: url(img/perfil3.jpg) no-repeat center center/120px;
    justify-self: center;
    align-self: center;
    box-shadow: 0px 0px 0px 3px #8390fa;
}

.dados-usuario-publicacao{
    justify-self: center;
    cursor: pointer;
}

.postagem-perfil{
    display: flex;
    align-items: center;
}

.caixa-conteudo-postagem{
    width: 75%;
    height: 70%;
    border-left: 1px solid  rgba(0, 0, 0, 0.2);
    padding: 0 5px;

}







