/* Sobre tranform function - resumido: https://www.redspark.io/entendendo-a-propriedade-transform-no-css/ */
/* Sobre transform function - completo e em detalhes: https://developer.mozilla.org/pt-BR/docs/Web/CSS/transform-function */
/* Sobre uso de keyframe: https://tableless.com.br/css3-animation-keyframe/ */

body{
    height: 100vh;
    margin: 0;
    background: #333;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.original{
    background: #d2d2d2;
    margin: 10px 15px;
    width: 95px;
    padding: 10px;
}

.box{
    height: 95px;
    width: 95px;
    line-height: 95px;
    text-align: center;
    /* A quantidade de rotação criada por rotate() é especificado por um <angle>. Se positivo, o movimento será no sentido horário; Se negativo, ela será no sentido anti-horário */
    /* transform: rotate(-55deg); /* Neste caso, é no sentido anti-horario */
}

.rotate{
    background: crimson;
}

.scale{
    background: darkcyan;
}

.translate{
    background: darkgreen;
}

/* TRANSFORM ROTATE */
.spin-rotate{
    cursor: pointer;
}

.spin-rotate:hover {
    animation: spin-rotate 3s linear infinite;
}

@keyframes spin-rotate { /* Consegue controlar as características do objeto e suas diversas transformações definindo fases da animação */
    0% {
      transform: rotateY(0deg);
    }
    100% {
      transform: rotateY(360deg);
    }
  }


/* TRANFORM SCALE */
.spin-scale {
    cursor: pointer;
  }
  .spin-scale:hover {
      animation: spin-scale 3s linear;
  }
  
  @keyframes spin-scale {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(2);
    }
  }

/* TRANFORM TRANSLATE */
.spin-translate {
    cursor: pointer;
  }
  .spin-translate:hover {
      animation: spin-translate 3s linear;
  }
  
  @keyframes spin-translate {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(50%, 50%);
    }
  }

