*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body{
    background: url(img/background.jpg);
    background-size: cover no-repeat;
    font-family: arial;
}

.menu-item a{
    color: #fff;
    font-size: 1.5em;
    font-weight: bolder;
}

input[type = "checkbox"]{
    display: none;
}

nav{
    width: 10%;
    height: 100vh;
    position: absolute;
    left: -800px;
}

.menu-lista{
    background: rgba(10,23,55,0.6);
    border: 1px solid #fff;
    padding: 3px;
    position: absolute;
    top: 80px;
    width: 100%;
}

.menu-lista li{
    margin: 5px 0;
}

.menu-item a{
    display: block;
    padding: 10px 5px;
    border: 2px solid #fff;
}

.menu-item a:hover{
    background: #333;
}

label{
    background: red;
    padding: 15px;
    position: absolute;
    z-index: 1;
}

input[type = "checkbox"]:checked ~ nav{
    transition: 3s;
    transform: translateX(800px);
}

