
/* CSS do header com Flexbox */
.header{ /* .Header é Parent de "<a>Logo</a>" e de "<nav></nav>" em si */
    background: #333;
    display: flex;
    flex-direction: row; /* Eixo principal será o X */
    justify-content: space-between; /* Forma de alinhamento dos elementos no eixo principal X */ 
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    
}

a{
    color: white;
}

.menu{
    display: flex;
}

.menu li{
    margin: 10px;
}

.menu li a{
    display: block;
    padding: 5px;
    border: 1px solid lightslategrey;
}

img{
    max-width: 100%;
    border: 1px solid #333;
}

/* CSS da Section Flexbox */
.section-flexbox{
    display: flex;
    flex-wrap: wrap;
    max-width: 800px; /* Largura máxima da section*/
    margin: 0 auto; /* Margin superior e inferior = 0 Margins esquerda e direita = auto */
}

.section-flexbox > div{ /* Estilo aplicado nas divs que são child de Section */
    flex: 1 1 200px; /* flex: flex-grow( aceita 1 ou 0) flex-shrink(aceita 1 ou 0) breakpoint para wrap(aceita qualquer valor) */ 
    margin: 10px;
}