.fa-bars{
    font-size: 1.2em;
    cursor: pointer;
    transition: 0.3s;
}

.fa-angle-double-left{
    font-size: 1.7em;
    cursor: pointer;
    transition: 0.3s;
}

i:hover{
    color: #63D7F6;
}

.container{
    position: absolute;
    padding: 0;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: steelblue;
}

.menu_mobile{
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.menu_mobile li{
    font-size: 1.5em;
    text-align: center;
    padding: 30px;
}

.menu_mobile .close-menu{
    text-align: right;
}

.menu_mobile li:nth-child(n + 2):hover{
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.menuToggle{
    display: none;
}