/* ESTILIZAÇÃO DO HEADER */
header {
	background: #ffc107;
	width: 100vw;
}

#nav-topo{
	display: flex;
	flex-direction: row; /* principal = eixo x */
	justify-content: space-between; /* alinhamento eixo principal */
	align-items: center; /* alinhamento eixo transversal */
}

.lista{
	list-style: none;
}

.lista-topo{
	display: flex;
	flex-direction: row; /* principal = eixo x */
	margin: 10px;
	font-family: 'roboto';
	align-items: center; /* alinhamento eixo transversal */
}

.lista-topo > li{
	margin: 0 10px;
}

a{
	display: block;
	text-decoration: none;
	color: #333;
	padding: 5px;
	border-radius: 15%;
}

a:hover{
	cursor: pointer;
	text-decoration: none;
	color: #333;
}

/* Quinto li filho de lista-topo */
.lista-topo > li:nth-child(5){
	background-color: whitesmoke;
	padding: 10px;
	font-weight: bold;
	border-radius: 15%;
}

#nav-topo > img{
	margin-left: 50px;
}

.corpo-header{
	display: flex;
	justify-content: space-around;
}

.conteudo-header{
	max-width: 30%;
	padding: 10px;
	padding-top: 220px;
}

.btn{
	color: white;
	border: 1px solid white;
	font-family: 'roboto';
}

.conteudo-header > h1{
	font-family: 'roboto';
	color: white;
}

p{
	color: white;
}














/* RESPONSIVIDADE 
@media (max-width: 600px){
	img{
		display: none;
	}
}

*/