.section{
    flex-grow: 1;
    background: #F0F7F7;

    padding: 0.5rem;

    box-shadow: inset 1px 1px 6px 0px rgba(0,0,0,0.75);
}

.box{
    margin-top: 1rem;
    width: 100px;
    background: rgb(126, 126, 126);

    height: 1500px;
}