body{
    background-color: whitesmoke;
    text-align: center; /* Alinhar centralmente os elementos do body, isto é, as caixas*/
}
.Caixa{
    background-color: gray;
    width: 200px;
    height: 200px;
    margin: 30px;
    text-align: center; /* Conteúdo das caixas alinhadas no centro*/

}
#Container{
    display: flex; /* Realiza configurações automáticas de alinhamento, como as feitas no arquivo anterior*/
    flex-direction: row; /* Como os elementos irão fluir dentro do bloco? Se em linha, Row, se em coluna, Column */
    flex-wrap: nowrap; /*Possui outras funcionalidades, esta faz com que os elementos se acomodem na tela, horizontalmente, quando é reduzida a tamanhos menores */ /* O contrário de nowrap seria wrap */
    justify-content: center; /* Comando do Flex para alinhar os elementos dentro do Container pai */
}
.Caixa p{
    margin-top: 50%;
}