.App{
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  background: #c0c0c0;
}

.modal_form{
  padding: 1rem;
  background: #fff;
}

.list_item{
  font-size: 2rem;
}

.container_input{
  margin: 1rem 0px 1rem 0px;
  width: 100%;
}

input{
  display: block;
  width: auto;
  background: #c0c0c0;

  padding: 0.5rem 1rem;
}

button{
  padding: 0.5rem;
  width: 100%;
  margin: 0.2rem 0px;
  margin-right: 0.2rem;
}

.container_buttons{
  width: 100%;
  padding: 0.5rem;
}