.aside{
    min-width: 200px;

    display: flex;
    flex-direction: column;

}

.aside_hide{
    display: none;
}

.aside_fixed{
    position: fixed;
    left: 0px;
    height: 100vh;
    min-width: 200px;
}