body {
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
  font-family: sans-serif;
  box-sizing: border-box;
  outline: unset;
}

ul, ol, li{
  list-style: none;
}

a{
  text-decoration: none;
}