body{
	background-color: whitesmoke;
}

#Caixa1, #Caixa2, #Caixa3{
	background-color: gray;
	height: 200px;
	width: 200px;
	display: block;
	margin: auto;
	margin-top: 20px;

}
#Caixa1{
	margin-left: 5%;
}
#Caixa3{
	margin-right: 5%;
}
#Container{
	overflow: hidden; /* Define que os elementos dentro do Container irão ocupar, verticalmente, o necessário para que seja ocupado */
	/*Existe também o overflow scroll, que apresenta barras de scroll caso o container seja menor do que seu conteúdo, e overflow auto, que é uma mistura do scroll e do Hidden */
	width: 100%; /* Largura usará 100% do elemento pai - do body. */
	background-color: pink;
}
p{
	text-align: center;
	padding-top: 50%;

}
#Caixa1{
	float: left;
}
#Caixa2{

	
}
#Caixa3{
	float: right;
}