@media (max-width: 550px){
    section{
        width: 90%;
    }
}


@media (min-width: 750px){
    #text-sinopse{
        text-align: justify;
    }

    .section_trailer{
        width: 70%;
    }

}

@media (min-width: 870px) and (max-width: 1478px){

    .section_title img{
        width: 350px;
    }

    .cp_text{
        height: 450px;
        overflow: scroll;
    }

    .cp_container{
        display: grid;
        grid-template-columns: 1fr 1fr ;
    }

    .comic_presentation h2{
        text-align: left;
    }

}

@media (min-width:1478px){

    .section_title img{
        width: 350px;
    }

    .cp_container{
        /* Cria-se uma grade de duas colunas e 2 linhas*/
        /*A primeira linha contém o texto e a imagem, e a segunda contém os botões*/
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: none; 
    }

    .comic_presentation h2{
        text-align: left;
    }

}