
/* Estilização da Section-grid em si */
.section-grid{
    display: grid;
    /* FR é a unidade que representa uma fração do espaço disponível no contêiner da grade */
    grid-template-columns: 1fr 1fr 1fr;  /* Divida o espaço de largura total em 3 colunas de 33.33% */ 
    max-width: 780px;
    margin: 0 auto;
    grid-gap: 20px; /* Calhas ou becos entre as células da grade pode ser criado utilizando os column-gap */
    margin-bottom: 20px;
}

/* Estilização dos elementos da Section-grid */
/* Esta função seleciona todas as divs da section-grid a partir da quarta div */
/* Ao invés disto, poderíamos usar classes também */
.section-grid > div:nth-child(n+4){ 
    display: grid; /* Cada div virou uma subgrade */ /* E cada div possui um "img" e um "p" */
    grid-template-columns: 1fr 1fr; /* Agora cada div é uma grade de duas colunas iguais */ /* Uma coluna possui a "img" e a outra o "p" */
    grid-gap: 10px; /* 10px de espaço entre cada coluna da grade */

    /* Em Flexbox existe o justify content e o align items, para os eixos principal e transversal. certo? */
    /* Em Grid, existe o Eixo de Bloco e o Eixo Inline, e cada um possui também suas próprias funções. Ver: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Grid_Layout/Box_Alignment_in_CSS_Grid_Layout */
    /* Abaixo, o align items alinhará os elementos centralmente no eixo de bloco, que é vertical */
    /* A imagem já ocupa toda a sua coluna de grade, mas a legenda não, então esta irá ser posicionada no centro da sua coluna */
    align-items: center; 
}
.section-grid >div.anuncio{
    grid-column: 1; /* Esta div estará na primeira coluna da grade maior */
    grid-row: 2 / 5; /* A div irá ocupar o espaço entre a 2º e a 5º linha da grade maior */
    display: block; /* Agora a div irá ocupar todo o espaço da célula */
}
