.section-grid2{ 
    display: grid;
    /* Esta section é uma grade de duas colunas não iguais */
    /* Uma coluna ocupa 200px fixos, e a outra ocupa o restante, que pode ser até 600px (pois o max-width é 800px) */
    grid-template-columns: 1fr 200px; 
    grid-gap: 20px;
    max-width: 800px;
    padding: 10px;
    margin: 0 auto;
}

/* Design Responsivo */
@media (max-width: 600px) {
    /* Quando a largura máxima for 600px */
    .section-grid2{
        grid-template-columns: 1fr; /* A grade da div "barra-lateral" terá apenas uma coluna */
    }

    .barra-lateral{
        display: flex; /* Quando
    }
}