/* AQUI PODEM ESTAR AS CONFIGURAÇÕES GLOBAIS DA APLICAÇÃO */

html{
  height: 100%;
}

body{
  background: #efefef;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  border: none;

  color: black;
}

ul, ol, a{
  text-decoration: none;
  list-style: none;
}